th, td{
  border: 2px solid grey;
}
h1 {
    text-align: center;
    background-color: aliceblue;
}

body {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: ivory;
}
